In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import MinMaxScaler, StandardScaler, MaxAbsScaler, RobustScaler
import plotly.express as px
from sklearn.cluster import MiniBatchKMeans, KMeans, DBSCAN
from sklearn.metrics import silhouette_score
from sklearn.decomposition import PCA

In [52]:
df1 = pd.read_csv('Strategy_Challenge_Development_Data_vF.csv')
df2 = pd.read_csv('Strategy_Challenge_Leaderboard_Data_vF.csv')
df3 = pd.read_csv('Strategy_Challenge_Sample_Submission_File_vF.csv')

In [59]:
df3

       361AC00518_238_340   6000
0      361CC00378_542_151   6000
1       0016000975_559_35   4000
2      0016001518_935_146   2000
3      0016002778_780_137   6000
4      0016002975_313_743   6000
...                   ...    ...
42770   365D100138_586_45   8000
42771  365U700062_535_341   4000
42772  365U700075_270_583  25000
42773  365U700362_297_553  15000
42774  365U700408_977_953  25000

[42775 rows x 2 columns]

In [62]:
df1.keys()

Index(['unique_id', 'product_ind', 'prod_fee_in', 'risk_score_1',
       'external_spend_1', 'Total_Capacity', 'External_Payment_1',
       'external_balance_1', 'External_Payment_2', 'risk_score_2', 'soi',
       'acqusition_method', 'external_preferred_line_1',
       'external_preferred_line_2', 'inq_last12m', 'external_delinquency_1',
       'avg_external_line', 'avg_external_utilization_1',
       'no_of_external_cards', 'avg_external_utilization_2',
       'No_of_External_Payments', 'oldest_trade_tenure',
       'external_utilization_high_ind', 'no_external_card_util75_line5k',
       'na_dspt_new_rt_card_ct', 'avg_external_utilization_3',
       'na_trd_open_24mo_ct', 'external_delinquency_2',
       'na_bank_card_open_before_72mo_ct', 'avg_external_utilization_4',
       'external_balance_2', 'na_open_rvbc_util_gte100_ct',
       'max_external_line', 'min_external_line', 'external_delinquency_3',
       'na_open_trd_ct_bal_gt0_pct', 'na_rcnt_mtge_open_ms',
       'external_pref_card_paydown', 'na_bal_parker_ct', 'ext_spend_2',
       'ext_spend_3', 'na_switch_pref_card_12mo_ct', 'external_avg_paydown_1',
       'external_avg_paydown_2', 'external_balance_3', 'recent_cancelled_line',
       'model_line', 'actual_line_assigned_random', 'internal_spend_2yr',
       'internal_bal_2yr', 'internal_rev_2yr', 'internal_loss_2yr',
       'internal_profit_2yr'],
      dtype='object')